.dis{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
   }

   .nav{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
    
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10;
  }
  .nav_bar {
    float: left;
   
  }
  .nav_bar_item {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav_barr{
    border-radius: 20px 20px 20px 20px ;
    color: white;
    background-color: #FFCCFD;
    display: block;
    border-color: white;
    
  }
  .section1{
    
    margin: 100px;
    
      height:600 ;
      background: linear-gradient(to bottom right,#CA26FF 7%,#F4CAC0 85%,#FFF3B0 100%) ;
      border-radius: 20px 0px 100px 20px;
      display: flex;
      
    }
    .div1{
      margin: 100px; 
      background-color: #FF99FC;
      height: 400px;
      width: 800px;
      display: grid;
      grid-template-rows: repeat(5,1fr);
      grid-template-columns: repeat(5,1fr);
    
    
    
    }
    .div2{
      grid-column-start: 1;
          grid-column-end: 2;

          grid-row-start: 3;
          grid-row-end: 5;
     
    }
       
      
     
    
      
        }
        .inpnam{
          background-color: #FF66FA;
          color: black;
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 4;
        }
        .inpmail{
          background-color: #FF66FA;
          color: black;
          grid-column-start: 4;
          grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 4;
        }
        .inpmsg{
          background-color: #FF66FA;
          color: black;
          height: 100px;
          grid-column-start: 5;
          grid-column-end: 5;
          grid-row-start: 2;
          grid-row-end: 6;
          

        }
  
  .foter{
    background-color: #330031;
    color: white; 
  }
  .minifoter{
    display: grid;
  grid-template-columns: repeat(3, 3fr); 
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
    
  }
  footer{
   
    display: flex;
    justify-content: center;
    
  }
  .lign-foter{
   
    justify-content: center;
    border-right: 4px white solid;
    border-left: 3px white solid;
    padding-left: 40px ;
    padding-right: 40px;
    margin-top: 20px;
    
  }
  .div-tire{
    text-align: center;
   
   
  }
  #test{
    display: flex;
    justify-content: space-between;
    

  }
  .posi{
    padding-left: 50px;
    justify-content: space-between;
  }