.dis{
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #330031;
    color: white;
    height: 150;
    
   }
   .nav{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
    
  }
  .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10;
  }
  .nav_bar {
    float: left;
   
  }
  .nav_bar_item {
    display: block;
    color: white;
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav_barr{
    border-radius: 20px 20px 20px 20px ;
    color: white;
    background-color: #FFCCFD;
    display: block;
    border-color: white;
    
  }
  .services{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows:repeat(2,1fr) ;
    justify-content: center;
    justify-content: space-evenly;
    
    gap: 200px;
  
  }
  .service1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #330031;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px 0px 10px 0px;

    
  }
  .ecrit{
    margin-left: 20px;
    padding-top: 50px;
      
    
   }
   .p1{
     border-radius: 10px 10px 10px 10px;
     box-shadow: 2px 2px 2px 2px;
     color: rgb(72, 69, 69);
     height: 300px;
     
   }
  .foter{
    background-color: #330031;
    color: white; 
  }
  footer{
   
    display: flex;
    justify-content: center;
    
  }
  .minifoter{
    display: grid;
  grid-template-columns: repeat(3, 3fr); 
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
    
  }
  .div-tire{
    text-align: center;
   
  }
  .lign-foter{
   
    justify-content: center;
    border-right: 3px white solid;
    border-left: 3px white solid;
    padding-left: 40px ;
    padding-right: 40px;
    margin-top: 20px;
    
  }
  #test{
    display: flex;
    justify-content: space-between;
    

  }
  .posi{
    padding-left: 50px;
    justify-content: space-between;
  }